#!/bin/bash
#
# RSession wrapper script to run rstudio over the Slurm scheduler
#
default_srun_params=""

USER=`whoami`
source /etc/profile

# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

source ${HOME}/.bashrc

#
# Look for config files for srun parameters:
#
# in order: - ${HOME}/.rsession-srun-params
#           - /etc/rstudio/rsession-srun-params
#           - use default_srun_params defined in this script
#
srun_params=""

if [[ -e ${HOME}/.rsession-srun-params ]]; 
then
  source ${HOME}/.rsession-srun-params
elif [[ -e /etc/rstudio/rsession-srun-params ]]; 
then
  source /etc/rstudio/rsession-srun-params
else
  srun_params=${default_srun_params}
fi

/usr/bin/srun ${srun_params} /usr/lib/rstudio-server/bin/rsession $@
